@mixin Transition($speed) {
  -webkit-transition: all $speed ease-in;
  -moz-transition: all $speed ease-in;
  -ms-transition: all $speed ease-in;
  -o-transition: all $speed ease-in;
  transition: all $speed ease-in;

}
@mixin Transit($speed , $delay , $anim) {
  -webkit-transition: all $speed $delay $anim;
  -moz-transition: all $speed  $delay $anim;
  -ms-transition: all $speed  $delay $anim;
  -o-transition: all $speed  $delay $anim;
  transition: all $speed  $delay $anim;

}
@mixin Rotate($deg) {
  -moz-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  transform: rotate($deg);

}

