html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
*:focus {
  outline: none;
}
#content figure {
  margin: 0;
}

 p {
  margin: 0;
}

body {
  line-height: 1;
  font-weight: normal;
  font-size: 10px;
  cursor: default;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

p {
  max-width: 100%;
}

input {
  margin: 0;
  padding: 0;
  border-width: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

img {

  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

section a {
  text-decoration: none;
}

section a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
}

#main {
  z-index: 2;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

#content {
  position: relative;
  min-height: 100vh;
}

#container #content {
  flex: 1 0 auto;
  overflow: hidden;
}

#container footer {
  flex: 0 0 auto;
  box-sizing: border-box;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
