$white: #ffffff;
$service-image-bg: #989898;
$white: #ffffff;
$Titles: #000000;
$top-image-bg: #a7a7a7;
$news-title: #010101;
$news-image-gb: #a19272;
$image-background: #bab9b9;
$links: #282828;
$book-now-bg: #f7f7f7;
$play-btn: #bda674;
$social-block: #dadada;
$p-description: #303030;
$play-icon: #f2ede3;
$backgroung: #b2c3ec;
$backgroung-controls: #e3ce9f;
$menu-burger: #bda676;
$animated-img: #dedede;
$latestNews: #bda676;
$blockBlock: #ececec;
$modalText: #979797;