body {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;

}

a,
button,
input[type="submit"] {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
    }
}